* {
  padding: auto;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: black;
  max-width: 100vw;
}

nav {
  text-align: center;
  height: 50px;
  padding-top: 15px;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 25px;
  font-weight: 750;
  font-size: 18px;
}

a:hover {
  animation: heartBeat;
  animation-duration: 10s;
}

#deel1 {
  background: -webkit-linear-gradient(
    to right,
    #8a2be2,
    cyan
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8a2be2, cyan);
  height: 70vh; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#deel2 {
  position: relative;
  background: white;
  width: 70%;
  text-align: center;
  margin: auto;
  height: 75vh;
  position: absolute;
  top: 15%;
  left: 15%;
  border-radius: 10px;
  padding: 25px;
}

#onder {
  background: #f1f1f1;
  width: 100%;
  height: 30vh;
}

img {
  width: 100%;
  border-radius: 15px;
}
#foto {
  text-align: center;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  float: left;
  padding: 10px;
  padding-bottom: 10px;
}

#beschrijving {
  position: relative;
  text-align: left;
  margin: auto;
  float: right;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  padding-left: 60px;
  padding-right: 0;
}

#info {
  position: relative;
  margin: auto;
  line-height: 3rem;
}
p {
  line-height: 2rem;
  height: 200px;
  text-align: left;
  max-width: 80%;
  color: rgb(112, 112, 112);
}
#informatie {
  position: absolute;
  line-height: 2rem;
  margin-top: 40px;
  width: auto;
  list-style-type: none;
  text-indent: -25px;
  display: inline-block;
}
h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: lighter;
  text-transform: uppercase;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  line-height: 2rem;
  font-size: 30px;
  text-transform: uppercase;
}

.icon {
  width: 32px;
  border-radius: 0em;
}
li {
  position: relative;
  height: 60px;
}
i {
  position: absolute;
  color: #b19cd9;
  align-content: center;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: left;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 1150px) {
  #deel1 {
    height: 80vh;
  }

  #deel2 {
    height: fit-content;
    block-size: fit-content;
  }

  #foto {
    float: left;
    width: 100%;
  }

  #beschrijving {
    float: left;
    width: 100%;
    block-size: fit-content;
    margin: auto;
    padding: auto;
    margin-top: 2vh;
  }

  #onder {
    background-size: cover;
    height: 100vh;
  }

  p {
    margin-bottom: 50px;
  }
}
